:root {
  /* Mist Colors */
  --color-neutral-50: oklch(98.7% 0.002 197.1);
  --color-neutral-100: oklch(96.3% 0.002 197.1);
  --color-neutral-200: oklch(92.5% 0.005 214.3);
  --color-neutral-300: oklch(87.2% 0.007 219.6);
  --color-neutral-400: oklch(72.3% 0.014 214.4);
  --color-neutral-500: oklch(56% 0.021 213.5);
  --color-neutral-600: oklch(45% 0.017 213.2);
  --color-neutral-700: oklch(37.8% 0.015 216);
  --color-neutral-800: oklch(27.5% 0.011 216.9);
  --color-neutral-900: oklch(21.8% 0.008 223.9);
  --color-neutral-950: oklch(14.8% 0.004 228.8);

  /* Teal Colors */
  --color-primary-50: oklch(98.4% 0.014 180.72);
  --color-primary-100: oklch(95.3% 0.051 180.801);
  --color-primary-200: oklch(91% 0.096 180.426);
  --color-primary-300: oklch(85.5% 0.138 181.071);
  --color-primary-400: oklch(77.7% 0.152 181.912);
  --color-primary-500: oklch(70.4% 0.14 182.503);
  --color-primary-600: oklch(60% 0.118 184.704);
  --color-primary-700: oklch(51.1% 0.096 186.391);
  --color-primary-800: oklch(43.7% 0.078 188.216);
  --color-primary-900: oklch(38.6% 0.063 188.416);
  --color-primary-950: oklch(27.7% 0.046 192.524);

  /* Amber Colors */
  --color-secondary-50: oklch(98.7% 0.022 95.277);
  --color-secondary-100: oklch(96.2% 0.059 95.617);
  --color-secondary-200: oklch(92.4% 0.12 95.746);
  --color-secondary-300: oklch(87.9% 0.169 91.605);
  --color-secondary-400: oklch(82.8% 0.189 84.429);
  --color-secondary-500: oklch(76.9% 0.188 70.08);
  --color-secondary-600: oklch(66.6% 0.179 58.318);
  --color-secondary-700: oklch(55.5% 0.163 48.998);
  --color-secondary-800: oklch(47.3% 0.137 46.201);
  --color-secondary-900: oklch(41.4% 0.112 45.904);
  --color-secondary-950: oklch(27.9% 0.077 45.635);
}
